# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# private.
src/.env
src/tex/
_oldwebsite/

# production side effects
node_modules/
build/

# cache/ds_store
.DS_Store
src/pages/Contact/__pycache__

# in the works
src/pages/Contact/email.py 
