# cache/ds_store
*.DS_Store
*__pycache__

# private
*.env
_oldwebsite/

# production 
build/
node_modules/

# other
src/latex/*/*.aux
src/latex/*/*.fdb_latexmk
src/latex/*/*.fls
src/latex/*/*.log
src/latex/*/*.out
src/latex/*/*.gz
src/latex/job