# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# private.
_oldwebsite/
*.env
*tex/
_papers/

# production side effects
build/
node_modules/

# cache/ds_store
*.DS_Store
*__pycache__

# in the works
*email.py

